<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharedModels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SharedModels.Properties.Settings>
            <setting name="FTPAddress" serializeAs="String">
                <value>192.168.20.221</value>
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value>upload</value>
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value>welkom1234!</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>ict4events.s21a@gmail.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>ICT4Events</value>
            </setting>
        </SharedModels.Properties.Settings>
    </applicationSettings>
</configuration>